ALTO_NETWORK_NAME=lifeaitest
ALTO_RPC_URL=
ALTO_MIN_ENTITY_STAKE=1
ALTO_MIN_EXECUTOR_BALANCE=1000000000000000000
ALTO_MIN_ENTITY_UNSTAKE_DELAY=1
ALTO_MAX_BUNDLE_WAIT=2
ALTO_MAX_BUNDLE_SIZE=3
ALTO_MAX_BLOCK_RANGE=500
ALTO_PORT=3000
ALTO_EXECUTOR_PRIVATE_KEYS=
ALTO_UTILITY_PRIVATE_KEY=
ALTO_ENTRYPOINTS=
ALTO_DEPLOY_SIMULATIONS_CONTRACT=true
ALTO_ENABLE_DEBUG_ENDPOINTS=true
ALTO_SAFE_MODE=false
ALTO_MEMPOOL_MAX_PARALLEL_OPS=5
ALTO_MEMPOOL_MAX_QUEUED_OPS=5
ALTO_ENFORCE_UNIQUE_SENDERS_PER_BUNDLE=false


